.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1rem;
  border-radius: 3rem;
  background: var(--cyan-800);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9)
  }

  svg {
    width: 1.375rem;
    height: 1.375rem;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  span {
    color: var(--white);
    line-height: 1rem;
    font-weight: bold;
  }
}

